@mixin styleText($fz, $fw, $color) {
  font-size: $fz;
  font-weight: $fw;
  color: $color;
}

@mixin styleBtn($bgc, $py, $px, $border, $radius) {
  background-color: $bgc;
  padding: $py $px;
  border: $border;
  border-radius: $radius;
}

@mixin styleBtnHover($bgc, $color, $border) {
  background-color: $bgc;
  color: $color;
  border: $border;
}

@mixin inputForm($bgc, $py, $px, $border, $radius) {
  background-color: $bgc;
  padding: $py $px;
  border: $border;
  border-radius: $radius;
}

@mixin responsive($screen) {
  @if (map-has-key($map: $breakpoints, $key: $screen)) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "màn hình chưa khai báo";
  }
}
