$primary-color: #b61984;
$text-color: #191919;
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$fs-0: 13px;
$fs-1: 14.4px;
$fs-2: 17.6px;
$transition: all 0.3s ease;
//break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
  "extra-large-down": 1199.98px,
  "large-down": 991.98px,
  "medium-down": 767.98px,
  "small-down": 575.98px,
);
