//COLOR
$primary-color: #b61984;
$secondary-color: #000;
$thirdly-color: #ffffff1a;
$forth-color: #dcd1f0;
$text-color-1: #000;
$text-color-2: #212529;
$text-color-3: #fff;
//FONT
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$fs-0: 11.25px;
$fs-1: 16px;
$fs-2: 23.35px;
$fs-3: 37px;
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;

//TRANSITION
$transition: all 0.3s ease;
//SHADOW
$shadow-1: 0 30px 30px -10px rgb(0 0 0 / 20%);
$shadow-2: 0 30px 30px -10px rgba(0, 0, 0, 0.2);

//break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
  "extra-large-down": 1199.98px,
  "large-down": 991.98px,
  "medium-down": 767.98px,
  "small-down": 575.98px,
);
