.grid__system {
  width: 100%;
  background-color: #dcd1f0;
  text-align: center;
  position: relative;
  .about__grid {
    width: 85%;
    margin: auto;
    padding-top: 10px;

    .about__row {
      margin-top: 40px;
      text-align: center;
      .card__holder {
        padding: 0 20px !important;
      }

      .about__item {
        overflow: hidden;
        border-radius: 10px;
        border: none;
        text-align: center;
        z-index: 10;
        transition: $transition;

        &:hover {
          box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
        }
        img {
          transform: scaleZ(1);
          transition: $transition;

          &:hover {
            transform: scale(1.06);
          }
        }
        .card-body {
          padding: 35px 30px;
        }
        span:first-child {
          color: $primary-color;
          display: block;
          font-size: 11.25px;
          font-weight: 600;
        }
        span:nth-child(2) {
          color: $text-color;
          display: block;
          font-size: 23.35px;
          font-weight: 700;
          padding: 5px 0 10px 0;
        }
        p {
          font-family: $secondary-font;
          font-size: 15px;
          line-height: 27px;
        }
      }
    }
  }
  .grid__footer_bg {
    img {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 5;
    }
  }
}

@include responsive("large") {
  .card__holder {
    margin-bottom: 40px;
  }
  .about__row:nth-child(2) {
    margin-top: 0px !important;
  }
}
