.grid__system {
  width: 100%;
  background-color: $forth-color;
  text-align: center;
  position: relative;
  .about__grid {
    width: 85%;
    margin: auto;
    padding-top: 10px;

    .about__row {
      margin-top: 40px;
      text-align: center;
      .card__holder {
        padding: 0 20px !important;
      }

      .about__item {
        overflow: hidden;
        border-radius: 10px;
        border: none;
        text-align: center;

        transition: $transition;

        &:hover {
          box-shadow: $shadow-1;
        }
        img {
          transform: scaleZ(1);
          transition: $transition;

          &:hover {
            transform: scale(1.06);
          }
        }
        .card-body {
          padding: 35px 30px;
        }
        span:first-child {
          display: block;
          @include styleText($fs-0, $fw-2, $primary-color);
        }
        span:nth-child(2) {
          @include styleText($fs-2, $fw-2, $text-color-1);
          display: block;
          padding: 5px 0 10px 0;
        }
        p {
          font-family: $secondary-font;
          font-size: 15px;
          line-height: 27px;
        }
      }
    }
  }
  .grid__footer_bg {
    z-index: 2;
    img {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@include responsive("large") {
  .card__holder {
    margin-bottom: 40px;
  }
  .about__row:nth-child(2) {
    margin-top: 0px !important;
  }
}
