body {
  position: relative;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: transparent !important;

  margin: auto;
  .navbar-fixed-top.scrolled {
    width: 100%;
    margin: auto;
    background-color: #fff !important;
    transition: all 0.5s linear;
    position: fixed;
    left: 0;
    right: 0;
    img {
      display: none;
    }
  }
  .header__content {
    width: 85%;
    margin: auto;
    background: transparent !important;
    img {
      width: 80px;
    }

    li.nav-item {
      padding: 0px 50px 0px 0px;
    }
    a.nav-link,
    a.header__icon {
      padding: 0 !important;
      font-size: $fs-0;
      font-weight: bold;
      color: black !important;
    }
    a.header__icon {
      padding: 0 10px 0 5px !important;
      font-size: 16px !important;
    }
    .header__phone {
      padding: 10px 12px;
      font-size: 13px;
      font-weight: 700;
    }
    .header__phone a {
      color: white !important;
    }

    li.header__social a.header__icon {
      font-size: 1.25rem;
      display: inline-block;
      padding-right: 15px;
      transition: all 0.5s;
      &:hover {
        color: $primary-color !important;
      }
    }
  }
}

@include responsive("extra-large-down") {
  .navbar {
    width: 100%;
    justify-content: left !important;
    flex-direction: row-reverse !important;
    .navbar-toggler {
      border: none !important;
    }
  }
  header {
    .navbar {
      background-color: #fff !important;
      padding: 0.5rem 0;
    }
    .header__content {
      width: 100% !important;
    }
    img {
      width: 48px !important;
    }
    ul.navbar-nav {
      margin-left: 20px !important;
      li {
        padding-bottom: 20px !important;
      }
    }
    ul.navbar-nav.header__contact {
      margin-top: 10px;
      align-items: baseline !important;
      flex-direction: row;
    }
    .navbar-fixed-top.scrolled {
      img {
        display: block;
      }
    }
  }
}
