button {
  @include styleBtn($primary-color, 10px, 50px, 1px solid transparent, 50px);
  text-align: center;
  color: #fff;
  transition: $transition;
  &:hover {
    border: 1px solid $primary-color;
    background-color: $thirdly-color;
    color: $primary-color;
  }
}
